<%- include("partials/header.ejs") %>

<body>
    <form class="input" action="/submit" method="POST">
        <div class="titlewrite posting">
        <label for="title"></label>
        <input type="text"  name="title" placeholder="Entry Title" required>
        </div>
        <div class="textwrite posting">
        <label for="text" ></label>
        <textarea for="text" name="text" placeholder="Your Entry" required></textarea>
        </div>
        <div class="posting">
        <input class="button submit" type="submit" value="Submit">
    </div>
    </form>

    <%- include("partials/footer.ejs") %>